<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<body>
    <h3>WILL BE BACK SOON</h3>
    <p>Page is currently updating</p>
</body>
</html>